= simple_form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :content
    %br/
    = f.cktext_area :content, :toolbar=>'Full', :width=>'400px', :height=>'200px'
  .field
    = f.label "Access:"
    %br/
    = f.select :accessmode, [["Private",0],["Public",1]]
  .field
  
    = f.association :communities,   :as => :check_boxes
  .actions
    = f.submit

   