<% if user_signed_in? %>
<%= link_to 'New Post', new_post_path %>
<% end %>
<table>
<% @posts.each do |post| %>
  <tr>
    <td colspan=2><h3><%= raw post.title %></h3></td>
    <td ><%=post.updated_at%></td>
  </tr>
  <tr>
    <td colspan=3><%= raw post.content %></td>
  </tr>
<% if user_signed_in? %>
  <tr>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% end %>
</table>

<br />

